@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.flex-container{
    font-family: 'Inter', sans-serif;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 50px;
    color: #fff;
    background-color: teal;
}
h1{
    font-size: 3rem;
    font-weight: 900;
}
h2{
    font-size: 5rem;
    font-weight: 100;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.btn{
    width: 200px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 2.2rem;
    font-weight: 100;
    color: teal;
    box-shadow: rgba(61, 63, 65, 0.2) 0px 8px 24px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1), 0.2s;
}
.btn:hover{
    transform: scale(0.95);
}
.btn:active{
    transform: scale(0.9);
}

p{
    position: absolute;
    bottom: 20px;
    font-size: 0.8rem;
    font-weight: 200;
}